<div id="banner">
	<div id="logo">Mongee</div>
	<div id="search">
		<form id="searchform"><input type="text" name="searchfield" id="searchfield" autocomplete="off" /></form>
	</div>
	<div class="logout" style="float:right;">Logout</div>
</div>