<form id='login_form'>
	<h1>Welcome to Mongee</h1>
	<label>Username</label><input type="input" name="user" id="user" />
	<label>Password</label><input type="password" name="pw" id="pw" />
	<input type="submit" value="Login" id="submit" />
</form>