<div id="login" class="round">
	<h1>Welcome to Mongee</h1>
	<div id='login_error'></div>
	<form id="login_form">
		<div class='login_row'>
			<label>Mail</label><input type="input" name="mail" id="mail" />
		</div>
		<div class='login_row'>
			<label>Password</label><input type="password" name="pw" id="pw" />
		</div>
		<input type="submit" value="Login" id="submit" />
	</form>
</div>